<div class="ui fluid card" style="box-shadow: none; margin-top: -20px;">
  <div class="content">
    <h1 style="font-size: 2rem; color: black;"><%= @representative.full_name %></h1>
    <h3 style="margin-top: -10px; color: grey;">Representative from <%= @representative.state.name %></h3>
    <% if @representative.leadership_role %>
      <h3 style="margin-top: -10px; color: grey;"><%= @representative.leadership_role %></h3>
    <% end %>
  </div>
  <div class="image">
    <img class="ui medium image" src=<%= @representative.image %>>
  </div>
  <% if logged_in? %>
    <div class="ui bottom attached buttons">
      <button class="ui button schedule_rep" style="width: 24%;"><i class="calendar icon"></i>Schedule</button>
      <div class="or"></div>
      <button class="ui positive button call_rep"><i class="call icon"></i>Call</button>
    </div>
  <% else %>
    <%= link_to "Log In to Schedule Call", login_path, class: "ui bottom attached button"%>
  <% end %>
</div>

<div class="ui mini modal representative_call_modal">
  <i class="close icon"></i>
  <div class="content">
    <p style="color: black;">Call Rep <%= @representative.full_name %>?<p>
  </div>
  <div class="actions">
    <%= form_with url: appointments_path, local: true do |f| %>
    <%= f.hidden_field "appointment[congressperson_type]", value: "representative"%>
    <%= f.hidden_field "appointment[congressperson_id]", value: @representative.id %>
    <div class="ui black deny button">
      Cancel
    </div>
      <%= f.submit "Let's Do It!", class: "ui positive right button"%>
    <% end %>
  </div>
</div>

<div class="ui tiny modal representative_schedule_modal">
  <i class="close icon"></i>
  <div class="header">
    Schedule Appointment
  </div>
  <div class="content">
    <%= form_with url: appointments_path, local: true, method: "post", class: "ui form" do |f| %>
      <div class="fields">
        <%= f.hidden_field "appointment[delay]", value: true %>
        <%= f.hidden_field "appointment[congressperson_type]", value: "representative"%>
        <%= f.hidden_field "appointment[congressperson_id]", value: @representative.id %>
        <%= date_select("appointment", "date", {start_year: 2017, end_year: 2018}, {class: "ui dropdown"}) %>
        <%= time_select("appointment", "time", {prompt: {hour: 'Hour', minute: 'Minute'}, ampm: true}, {class: "ui dropdown"}) %>
      </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
      <%= f.submit "Submit", class: "ui positive right button"%>
    <% end %>
  </div>
</div>
