<h1><%= @senator.full_name %></h1>
<img class="ui medium image" src=<%= @senator.image %>>
<ul>
  <li>Date of Birth: <%= @senator.date_of_birth %></li>
  <li>Biography: <%= @senator.biography %></li>
  <li>Party: <%= @senator.party %></li>
  <li>Start Date: <%= @senator.start_date %></li>
  <li>Leadership Role: <%= @senator.leadership_role %></li>
  <li>Twitter Account: <%= @senator.twitter_account %></li>
  <li>Facebook Account: <%= @senator.facebook_account %></li>
  <li>Youtube Account: <%= @senator.youtube_account %></li>
  <li>Url: <%= @senator.url %></li>
  <li><%= @senator.contact_form %></li>
  <li><%= @senator.dw_nominate %></li>
  <li><%= @senator.next_election %></li>
  <li><%= @senator.total_votes %></li>
  <li><%= @senator.missed_votes %></li>
  <li><%= @senator.office %></li>
  <li><%= @senator.phone %></li>
  <li><%= @senator.state_rank %></li>
  <li><%= @senator.votes_with_party_pct %></li>
  <li><%= @senator.wikipedia %></li>
</ul>